body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #88941e;
}
h1::after{
    content: "";
    height: 5px;
    width: 110px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;
}
.contact-info p {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
}

.contact-info a {
    color: #007BFF;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
    text-align: left;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

.cta {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}
